# 온라인 웹스크래핑 
+ NoCoding 데이터 스크레이퍼-간편한 웹 스크래핑 확장프로그램 추가
+ 온라인 강의 참고, 오프라인 강의에서는 pass

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# 스크래핑한 파일 불러오기기
# if UTF-8 Error occurs, add [, encoding='cp949'] after 'r'

fp = open('/content/drive/MyDrive/기초컴퓨터프로그래밍/mydata/news112.csv', 'r')
data = fp.readlines()
fp.close()

In [ ]:
data

['제목,댓글수,구분\n',
 '"이상민 ""심심한 사과""‥""국회가 들러리냐"" 비판"," \n',
 '댓글\n',
 '444",동영상 뉴스\n',
 '"주최 측 없어도 ""경찰 책임""‥법적 근거는 충분"," \n',
 '댓글\n',
 '316",동영상 뉴스\n',
 '"윤 대통령, 긴급 NSC 회의 소집"," \n',
 '댓글\n',
 '203",동영상 뉴스\n',
 '"""북, 동해상 미사일 발사""‥공습경보 발령"," \n',
 '댓글\n',
 '170",동영상 뉴스\n',
 '"북한, 동해상으로 탄도미사일 발사‥\'한미 연합 공중훈련 반발\'"," \n',
 '댓글\n',
 '152",\n',
 '[속보] 8시 55분 울릉 공습경보 발령‥9시 8분 주민 대피명령 해제," \n',
 '댓글\n',
 '130",\n',
 '10월 소비자물가 5.7%↑‥ 석 달 만에 상승폭 확대," \n',
 '댓글\n',
 '105",\n',
 '"미국, 핼러윈 당일에 \'총기 난사\'‥20여 명 사상"," \n',
 '댓글\n',
 '90",동영상 뉴스\n',
 '울릉도 공습경보 사이렌‥주민 긴급 대피," \n',
 '댓글\n',
 '58",동영상 뉴스\n',
 '"""압사당할 것 같다""‥4시간 전 112 첫 신고"," \n',
 '댓글\n',
 '58",동영상 뉴스\n',
 '"""정부 책임은 무엇?"" 쏟아진 외신 질문"," \n',
 '댓글\n',
 '45",동영상 뉴스\n',
 '"이재명 ""한 총리 간담회서 농담‥농담할 자리인가"""," \n',
 '댓글\n',
 '40",\n',
 '"고개 숙인 경찰청장 ""현장 대응 미흡했다"" 시인"," \n',
 '댓글\n',
 '40",동영상 뉴스\n',
 '"이재명 ""정부 무능·불찰로 인한 참사‥당연히 책임 따져야"""," \n',
 '댓글\n',
 '39",\n',
 '\'희생자\' 대신 \'사망자\'로‥\'참사\'는 \'사고\'로," \n',
 '댓글\n',
 '36",동영상 뉴스\n',
 '[와글와글] 허벅지부터 발목까지 피멍‥이태원 생존자 다리 공개," \n',
 '댓글\n',
 '28",동영상 뉴스\n',
 '"내일 \'0.75%p 인상\' 유력‥""속도조절론, 희망고문"""," \n',
 '댓글\n',
 '26",동영상 뉴스\n',
 '"북한, 사상첫 NLL 이남으로 탄도미사일 도발‥울릉도 공습경보"," \n',
 '댓글\n',
 '25",\n',
 '"11건 신고했는데 4번 출동‥""단순 불편""?"," \n',
 '댓글\n',
 '23",동영상 뉴스\n',
 '"윤 대통령, 북한 탄도미사일 발사에 긴급 NSC 소집"," \n',
 '댓글\n',
 '22",']

# **pandas**


---


## **파이썬에서 사용하는 데이터분석 라이브러리**
 + 행과 열로 이루어진 데이터 객체를 만들어 다룰 수 있게 되며 보다 안정적으로 대용량의 데이터들을 처리하는데 매우 편리한 도구
 + NumPy를 기반으로 구축되었으며 과학 컴퓨팅 환경 내에서 다른 많은 타사 라이브러리와 잘 통합되도록 설계 
 + 많은 기능을 가진 데이터 구조
   - 다양한 방식으로 색인된 데이터를 다룰 수 있는 기능
   - 시계열 데이터와 비시계열 데이터를 함께 다룰 수 있는 통합 자료 구조
   - 누락된 데이터를 유연하게 처리할 수 있는 기능
   - SQL 같은 일반 데이터베이스처럼 데이터를 합치고 관계연산을 수행하는 기능

### **pandas 자료 구조**
* **Series**
 + 1차원 자료구조
 + index로 value를 구분하는 1차원 자료구조

* **DataFrame**
 + 2차원 자료구조
 + DataFrame는 행과 열이 있는 테이블 데이터



---

In [3]:
# pd로 축약하여 사용

import pandas as pd

# **판다스(Pandas)를 이용한 뉴스분석**


---

🏷️ **외부 데이터 가져오기**


---
+ csv 읽기
 - 한글 파일명을 사용할 경우 : df = pd.read_csv(‘파일명‘, engine='python')
 - 파일 내용 한글이 깨지는 경우 : df = pd.read_csv(‘파일명‘, engine='python', encoding='cp949')
>
```
df = pd.read_csv(‘파일명‘)
```

+ 엑셀 읽기
 - 한글 파일명을 사용할 경우 : df = pd.read_excel(‘파일명‘)
>
```
df = pd.read_excel(‘파일명‘)
```

# 1) 외부 데이터 가져오기

In [4]:
# news.csv 데이터 가져오기

df = pd.read_csv('/content/drive/MyDrive/기초컴퓨터프로그래밍/mydata/news112.csv')

In [5]:
# 데이터프레임보기
df

                                         제목         댓글수      구분
0                이상민 "심심한 사과"‥"국회가 들러리냐" 비판   \n댓글\n444  동영상 뉴스
1                주최 측 없어도 "경찰 책임"‥법적 근거는 충분   \n댓글\n316  동영상 뉴스
2                       윤 대통령, 긴급 NSC 회의 소집   \n댓글\n203  동영상 뉴스
3                   "북, 동해상 미사일 발사"‥공습경보 발령   \n댓글\n170  동영상 뉴스
4        북한, 동해상으로 탄도미사일 발사‥'한미 연합 공중훈련 반발'   \n댓글\n152     NaN
5   [속보] 8시 55분 울릉 공습경보 발령‥9시 8분 주민 대피명령 해제   \n댓글\n130     NaN
6            10월 소비자물가 5.7%↑‥ 석 달 만에 상승폭 확대   \n댓글\n105     NaN
7              미국, 핼러윈 당일에 '총기 난사'‥20여 명 사상    \n댓글\n90  동영상 뉴스
8                     울릉도 공습경보 사이렌‥주민 긴급 대피    \n댓글\n58  동영상 뉴스
9                "압사당할 것 같다"‥4시간 전 112 첫 신고    \n댓글\n58  동영상 뉴스
10                   "정부 책임은 무엇?" 쏟아진 외신 질문    \n댓글\n45  동영상 뉴스
11              이재명 "한 총리 간담회서 농담‥농담할 자리인가"    \n댓글\n40     NaN
12               고개 숙인 경찰청장 "현장 대응 미흡했다" 시인    \n댓글\n40  동영상 뉴스
13         이재명 "정부 무능·불찰로 인한 참사‥당연히 책임 따져야"    \n댓글\n39     NaN
14              '희생자' 대신 '사망자'로‥'참사'는 '사고'로    \n댓글\n36  동영상 뉴스
15       [와글와글] 허벅지부터 발목까지 피멍‥이태원 생존자 다리 공개    \n댓글\n28  동영상 뉴스
16          내일 '0.75%p 인상' 유력‥"속도조절론, 희망고문"    \n댓글\n26  동영상 뉴스
17       북한, 사상첫 NLL 이남으로 탄도미사일 도발‥울릉도 공습경보    \n댓글\n25     NaN
18                 11건 신고했는데 4번 출동‥"단순 불편"?    \n댓글\n23  동영상 뉴스
19            윤 대통령, 북한 탄도미사일 발사에 긴급 NSC 소집    \n댓글\n22     NaN

🏷️ **데이터프레임의 정보**


---
**df.info()**
 - 데이터프레임에 대한 전반적인 정보
 - 데이터프레임을 구성하는 행과 열의 크기, 컬럼명, 컬럼을 구성하는 값의 자료형 등을 출력

**df.describe()**
  - 컬럼별로 데이터의 개수(count), 데이터의 평균값(mean), 표준 편차(std), 최솟값(min), 4분위수(25%, 50%, 75%), 그리고 최댓값(max)들의 정보 확인

In [6]:
# object : 숫자를 제외한 모든 자료형

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제목      20 non-null     object
 1   댓글수     20 non-null     object
 2   구분      13 non-null     object
dtypes: object(3)
memory usage: 608.0+ bytes

🏷️ **데이터프레임의 인덱스**

--- 
 + 열의 인덱스 : **df.columns**
 + 행의 인덱스 : **df.index**
 + **데이터프레임의 인덱스 변경**
   - 열인덱스 명 변경 : df.column = [열명인덱스]
   - 열항목 중 하나를 인덱스로 사용 : df.set_index(열명)
   - 인덱스를 일반 데이터 열로 전환 : df.reset_index()

In [13]:
# 열명 조회
df.columns

Index(['index', '제목', '댓글수', '구분'], dtype='object')

In [9]:
df.head(2)

                           제목         댓글수      구분
0  이상민 "심심한 사과"‥"국회가 들러리냐" 비판   \n댓글\n444  동영상 뉴스
1  주최 측 없어도 "경찰 책임"‥법적 근거는 충분   \n댓글\n316  동영상 뉴스

In [10]:
# 인덱스를 일반열로 전환
df = df.reset_index()

In [12]:
# 전환된 열을 순위열로 바꾸기
df['index'] += 1
df

    index                                       제목         댓글수      구분
0       1               이상민 "심심한 사과"‥"국회가 들러리냐" 비판   \n댓글\n444  동영상 뉴스
1       2               주최 측 없어도 "경찰 책임"‥법적 근거는 충분   \n댓글\n316  동영상 뉴스
2       3                      윤 대통령, 긴급 NSC 회의 소집   \n댓글\n203  동영상 뉴스
3       4                  "북, 동해상 미사일 발사"‥공습경보 발령   \n댓글\n170  동영상 뉴스
4       5       북한, 동해상으로 탄도미사일 발사‥'한미 연합 공중훈련 반발'   \n댓글\n152     NaN
5       6  [속보] 8시 55분 울릉 공습경보 발령‥9시 8분 주민 대피명령 해제   \n댓글\n130     NaN
6       7           10월 소비자물가 5.7%↑‥ 석 달 만에 상승폭 확대   \n댓글\n105     NaN
7       8             미국, 핼러윈 당일에 '총기 난사'‥20여 명 사상    \n댓글\n90  동영상 뉴스
8       9                    울릉도 공습경보 사이렌‥주민 긴급 대피    \n댓글\n58  동영상 뉴스
9      10               "압사당할 것 같다"‥4시간 전 112 첫 신고    \n댓글\n58  동영상 뉴스
10     11                   "정부 책임은 무엇?" 쏟아진 외신 질문    \n댓글\n45  동영상 뉴스
11     12              이재명 "한 총리 간담회서 농담‥농담할 자리인가"    \n댓글\n40     NaN
12     13               고개 숙인 경찰청장 "현장 대응 미흡했다" 시인    \n댓글\n40  동영상 뉴스
13     14         이재명 "정부 무능·불찰로 인한 참사‥당연히 책임 따져야"    \n댓글\n39     NaN
14     15              '희생자' 대신 '사망자'로‥'참사'는 '사고'로    \n댓글\n36  동영상 뉴스
15     16       [와글와글] 허벅지부터 발목까지 피멍‥이태원 생존자 다리 공개    \n댓글\n28  동영상 뉴스
16     17          내일 '0.75%p 인상' 유력‥"속도조절론, 희망고문"    \n댓글\n26  동영상 뉴스
17     18       북한, 사상첫 NLL 이남으로 탄도미사일 도발‥울릉도 공습경보    \n댓글\n25     NaN
18     19                 11건 신고했는데 4번 출동‥"단순 불편"?    \n댓글\n23  동영상 뉴스
19     20            윤 대통령, 북한 탄도미사일 발사에 긴급 NSC 소집    \n댓글\n22     NaN

In [14]:
# 열명변경
df.columns = ['순위', '제목', '댓글수', '구분']

In [15]:
df

    순위                                       제목         댓글수      구분
0    1               이상민 "심심한 사과"‥"국회가 들러리냐" 비판   \n댓글\n444  동영상 뉴스
1    2               주최 측 없어도 "경찰 책임"‥법적 근거는 충분   \n댓글\n316  동영상 뉴스
2    3                      윤 대통령, 긴급 NSC 회의 소집   \n댓글\n203  동영상 뉴스
3    4                  "북, 동해상 미사일 발사"‥공습경보 발령   \n댓글\n170  동영상 뉴스
4    5       북한, 동해상으로 탄도미사일 발사‥'한미 연합 공중훈련 반발'   \n댓글\n152     NaN
5    6  [속보] 8시 55분 울릉 공습경보 발령‥9시 8분 주민 대피명령 해제   \n댓글\n130     NaN
6    7           10월 소비자물가 5.7%↑‥ 석 달 만에 상승폭 확대   \n댓글\n105     NaN
7    8             미국, 핼러윈 당일에 '총기 난사'‥20여 명 사상    \n댓글\n90  동영상 뉴스
8    9                    울릉도 공습경보 사이렌‥주민 긴급 대피    \n댓글\n58  동영상 뉴스
9   10               "압사당할 것 같다"‥4시간 전 112 첫 신고    \n댓글\n58  동영상 뉴스
10  11                   "정부 책임은 무엇?" 쏟아진 외신 질문    \n댓글\n45  동영상 뉴스
11  12              이재명 "한 총리 간담회서 농담‥농담할 자리인가"    \n댓글\n40     NaN
12  13               고개 숙인 경찰청장 "현장 대응 미흡했다" 시인    \n댓글\n40  동영상 뉴스
13  14         이재명 "정부 무능·불찰로 인한 참사‥당연히 책임 따져야"    \n댓글\n39     NaN
14  15              '희생자' 대신 '사망자'로‥'참사'는 '사고'로    \n댓글\n36  동영상 뉴스
15  16       [와글와글] 허벅지부터 발목까지 피멍‥이태원 생존자 다리 공개    \n댓글\n28  동영상 뉴스
16  17          내일 '0.75%p 인상' 유력‥"속도조절론, 희망고문"    \n댓글\n26  동영상 뉴스
17  18       북한, 사상첫 NLL 이남으로 탄도미사일 도발‥울릉도 공습경보    \n댓글\n25     NaN
18  19                 11건 신고했는데 4번 출동‥"단순 불편"?    \n댓글\n23  동영상 뉴스
19  20            윤 대통령, 북한 탄도미사일 발사에 긴급 NSC 소집    \n댓글\n22     NaN

🏷️ **데이터프레임 추출하기**


---
+ 열자료 가져오기 : df[]
 + 특정 열 가져오기 : df[열인덱스], df[열인덱스 리스트]
 + 특정 행 가져오기 : df[시작행인덱스:종료행인덱스] 

+ 인덱스명으로 특정 항목 가져오기 : df.loc[행인덱스, 열인덱스]
  * 특정 열 가져오기 : df.loc[:, 열인덱스]
  * 특정 행 가져오기 : df.loc[행인덱스, :]
  * 특정 항목 가져오기 : df.loc[행인덱스, 열인덱스]

+ 인덱스 위치값으로 특정 항목 가져오기 : df.iloc[행인덱스순서, 열인덱스순서]
  * 특정 열 가져오기 : df.iloc[:, 열인덱스순서]
  * 특정 행 가져오기 : df.iloc[행인덱스순서, :]
  * 특정 항목 가져오기 : df.iloc[행인덱스순서, 열인덱스순서]

In [17]:
# 문자열 연산
s = '\n댓글\n444'
s = s.replace('\n댓글\n', '')
s = int(s)
s

444

In [23]:
# 조회수 열 조회

df['댓글수']

0     444
1     316
2     203
3     170
4     152
5     130
6     105
7      90
8      58
9      58
10     45
11     40
12     40
13     39
14     36
15     28
16     26
17     25
18     23
19     22
Name: 댓글수, dtype: int64

🏷️ **열에 문자열 함수 적용하기**


---
+ 문자열 관련 함수를 사용하거나 전처리를 하기 위해서는 함수 및 명령어 앞에 str

In [ ]:
# 조회수 열 변경

df['댓글수'] = df['댓글수'].str.replace('\n댓글\n', '')

🏷️ **열 타입 변경**


---
+ df.dtypes : 데이터타입 확인
+ df[열명].astype(변환타입)
  + 정수형은 .astype(‘int’)
  + 문자형은 .astype(‘str’)
  + 범주형은 .astype(‘category’)
+ pd.to_numeric(열): 문자열 칼럼의 숫자형 변환 
+ pd.to_datetime(열) : 날짜형식으로 변경

In [20]:
# 조회수 열 숫자열로 변경

df['댓글수'] = pd.to_numeric(df['댓글수'])

In [21]:
# 조회수 열 숫자열로 변경

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      20 non-null     int64
 1   제목      20 non-null     object
 2   댓글수     20 non-null     int64
 3   구분      13 non-null     object
dtypes: int64(2), object(2)
memory usage: 768.0+ bytes

# 2) 평균 조회수보다 많은 뉴스 검색

🏷️ **데이터프레임(DataFrame) 기본 조회와 기초 통계 메소드**

--- 
* head(n) : 상위 n개 조회, n생략 시 5개 조회
+ tail(n) : 하위 n개 조회, n생략 시 5개 조회
+ describe() : 요약 통계량 계산
+ mean() : 평균
+ max() : 최대
+ min() : 최소
+ std()  : 표준편차

In [24]:
# 댓글수 평균

df['댓글수'].mean()

102.5


🏷️ **결측값 처리**

---  
+ 결측값 확인 
  + df.isnull() , df.isna() 
  + df.isnull().sum() : 결측치 개수 확인

+ 결측값 제거
  + 결측값이 있는 행 제거 : df.dropna()
  + 결측값이 있는 열 제거 : df.dropna(axis=1)

+ 결측값 채우기
  + 결측값을 특정 값으로 채우기 : df.fillna(특정값)
  + 결측값을 결측값의 앞 행의 값으로 채우기 : df.fillna(method='ffill') or df.fillna(method='pad')
  + 결측값을 결측값의 뒷 행의 값으로 채우기 : df.fillna(method='bfill') or df.fillna(method='backfill')
  + 결측값을 각 열의 평균 값으로 채우기 : df.fillna(df.mean())

In [29]:
# 결측값 - 구분 Column에 7개의 결측값 존재

df['구분'].isna().sum()

7

In [30]:
# 데이터프레임 복사 

df2 = df.copy()
df2

    순위                                       제목  댓글수      구분
0    1               이상민 "심심한 사과"‥"국회가 들러리냐" 비판  444  동영상 뉴스
1    2               주최 측 없어도 "경찰 책임"‥법적 근거는 충분  316  동영상 뉴스
2    3                      윤 대통령, 긴급 NSC 회의 소집  203  동영상 뉴스
3    4                  "북, 동해상 미사일 발사"‥공습경보 발령  170  동영상 뉴스
4    5       북한, 동해상으로 탄도미사일 발사‥'한미 연합 공중훈련 반발'  152     NaN
5    6  [속보] 8시 55분 울릉 공습경보 발령‥9시 8분 주민 대피명령 해제  130     NaN
6    7           10월 소비자물가 5.7%↑‥ 석 달 만에 상승폭 확대  105     NaN
7    8             미국, 핼러윈 당일에 '총기 난사'‥20여 명 사상   90  동영상 뉴스
8    9                    울릉도 공습경보 사이렌‥주민 긴급 대피   58  동영상 뉴스
9   10               "압사당할 것 같다"‥4시간 전 112 첫 신고   58  동영상 뉴스
10  11                   "정부 책임은 무엇?" 쏟아진 외신 질문   45  동영상 뉴스
11  12              이재명 "한 총리 간담회서 농담‥농담할 자리인가"   40     NaN
12  13               고개 숙인 경찰청장 "현장 대응 미흡했다" 시인   40  동영상 뉴스
13  14         이재명 "정부 무능·불찰로 인한 참사‥당연히 책임 따져야"   39     NaN
14  15              '희생자' 대신 '사망자'로‥'참사'는 '사고'로   36  동영상 뉴스
15  16       [와글와글] 허벅지부터 발목까지 피멍‥이태원 생존자 다리 공개   28  동영상 뉴스
16  17          내일 '0.75%p 인상' 유력‥"속도조절론, 희망고문"   26  동영상 뉴스
17  18       북한, 사상첫 NLL 이남으로 탄도미사일 도발‥울릉도 공습경보   25     NaN
18  19                 11건 신고했는데 4번 출동‥"단순 불편"?   23  동영상 뉴스
19  20            윤 대통령, 북한 탄도미사일 발사에 긴급 NSC 소집   22     NaN

In [31]:
# 결측치 값 제거

df2 = df2.dropna()

In [33]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 0 to 18
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      13 non-null     int64
 1   제목      13 non-null     object
 2   댓글수     13 non-null     int64
 3   구분      13 non-null     object
dtypes: int64(2), object(2)
memory usage: 520.0+ bytes

In [34]:
# 결측치 값 채우기

df['구분'] = df['구분'].fillna('기사')

In [35]:
df

    순위                                       제목  댓글수      구분
0    1               이상민 "심심한 사과"‥"국회가 들러리냐" 비판  444  동영상 뉴스
1    2               주최 측 없어도 "경찰 책임"‥법적 근거는 충분  316  동영상 뉴스
2    3                      윤 대통령, 긴급 NSC 회의 소집  203  동영상 뉴스
3    4                  "북, 동해상 미사일 발사"‥공습경보 발령  170  동영상 뉴스
4    5       북한, 동해상으로 탄도미사일 발사‥'한미 연합 공중훈련 반발'  152      기사
5    6  [속보] 8시 55분 울릉 공습경보 발령‥9시 8분 주민 대피명령 해제  130      기사
6    7           10월 소비자물가 5.7%↑‥ 석 달 만에 상승폭 확대  105      기사
7    8             미국, 핼러윈 당일에 '총기 난사'‥20여 명 사상   90  동영상 뉴스
8    9                    울릉도 공습경보 사이렌‥주민 긴급 대피   58  동영상 뉴스
9   10               "압사당할 것 같다"‥4시간 전 112 첫 신고   58  동영상 뉴스
10  11                   "정부 책임은 무엇?" 쏟아진 외신 질문   45  동영상 뉴스
11  12              이재명 "한 총리 간담회서 농담‥농담할 자리인가"   40      기사
12  13               고개 숙인 경찰청장 "현장 대응 미흡했다" 시인   40  동영상 뉴스
13  14         이재명 "정부 무능·불찰로 인한 참사‥당연히 책임 따져야"   39      기사
14  15              '희생자' 대신 '사망자'로‥'참사'는 '사고'로   36  동영상 뉴스
15  16       [와글와글] 허벅지부터 발목까지 피멍‥이태원 생존자 다리 공개   28  동영상 뉴스
16  17          내일 '0.75%p 인상' 유력‥"속도조절론, 희망고문"   26  동영상 뉴스
17  18       북한, 사상첫 NLL 이남으로 탄도미사일 도발‥울릉도 공습경보   25      기사
18  19                 11건 신고했는데 4번 출동‥"단순 불편"?   23  동영상 뉴스
19  20            윤 대통령, 북한 탄도미사일 발사에 긴급 NSC 소집   22      기사

🏷️ **조건에 맞는 자료 추출**
 
---
+ df[조건식]
  + 시리즈.isin([리스트])
  + and 연산 : &
  + or 연산 : | 
  + and 연산이나 or연산인 경우는 반드시 ()로 묶어서 사용

In [36]:
df[df['댓글수'] >= df['댓글수'].mean()]

   순위                                       제목  댓글수      구분
0   1               이상민 "심심한 사과"‥"국회가 들러리냐" 비판  444  동영상 뉴스
1   2               주최 측 없어도 "경찰 책임"‥법적 근거는 충분  316  동영상 뉴스
2   3                      윤 대통령, 긴급 NSC 회의 소집  203  동영상 뉴스
3   4                  "북, 동해상 미사일 발사"‥공습경보 발령  170  동영상 뉴스
4   5       북한, 동해상으로 탄도미사일 발사‥'한미 연합 공중훈련 반발'  152      기사
5   6  [속보] 8시 55분 울릉 공습경보 발령‥9시 8분 주민 대피명령 해제  130      기사
6   7           10월 소비자물가 5.7%↑‥ 석 달 만에 상승폭 확대  105      기사

🏷️ **그룹화**
 
---

* 데이터를 그룹별로 분류
* df.groupby(인수)
  + 열 또는 열의 리스트
  + 행 인덱스
* 그룹 연산 메소드
  + size, count: 그룹 데이터의 갯수
  + mean, median, min, max: 그룹 데이터의 평균, 중앙값, 최소, 최대
  + sum, prod, std, var, quantile : 그룹 데이터의 합계, 곱, 표준편차, 분산, 사분위수
  + first, last: 그룹 데이터 중 가장 첫번째 데이터와 가장 나중 데이터

In [ ]:
# 동영상뉴스와 기사  카운트

동영상 뉴스    11
기사         9
Name: 구분, dtype: int64

In [ ]:
# 동영상뉴스와 기사  그룹핑핑

        순위
구분
기사       9
동영상 뉴스  11

In [ ]:
# 동영상뉴스와 기사 평균 조회수수

                조회수
구분
기사      4751.333333
동영상 뉴스  1587.545455

# 3) 조회수가 많은 기사 상위 3개

🏷️ **정렬**
 
---
 - 행열 인덱스 정렬 : df.sort_index(axis=n), n생략 또는 0:행, 1:열
 - 행렬 값 정렬 : df.sort_values()
 - 내림차순 옵션 : ascending=False

In [ ]:
df

    순위                                               제목    조회수      구분
0    1        윤 대통령, 푸틴 경고에 "우크라에 살상무기 공급 없었다‥우리 주권 문제"  12214      기사
1    2                 내일 서울 도심서 대규모 집회‥경찰 "대중교통 이용 당부"  10049      기사
2    3           국민의힘, '윤 대통령-한동훈 심야 술자리 의혹' 김의겸 징계안 제출   9510      기사
3    4        [World Now] '진주 귀걸이를 한 소녀'에 머리 붙인 남성‥이유는?   7455  동영상 뉴스
4    5                세 모자 살해 피의자 "잘못한 것 맞다"‥범행동기는 횡설수설   5447      기사
5    6                    [와글와글] 길거리 간식은 옛말‥고물가에 '금'붕어빵   4455  동영상 뉴스
6    7            윤 대통령, 청담동 술자리 의혹에 "저급하고 유치한 가짜뉴스 선동"   3660      기사
7    8                     [단독] 살해된 엄마, 큰아들 지키려다 함께 당했다   2206  동영상 뉴스
8    9                     "우크라 무기 제공하면 한러 관계 파탄"‥푸틴 경고   1024  동영상 뉴스
9   10  윤희숙 "김진태, 빚 꼭 갚겠다는 의지 보여줬어야‥이재명 '정치쇼' 비판은 내로남불"    991      기사
10  11                  미국 '핵 태세 보고서' "북한 핵 사용하면 정권 종말"    685  동영상 뉴스
11  12                 15억 넘는 아파트도 대출‥"부동산 규제 풀어 경기 부양"    345  동영상 뉴스
12  13               장제원, 대통령실 추천 인사 물갈이 보도에 "소설 같은 기사"    340      기사
13  14                          '상습 정체' 강변북로 지하화‥지상은 공원    319  동영상 뉴스
14  15                   "서울 강남권도 집 안팔려"‥매매수급지수 80선 무너져    285      기사
15  16                         日, 순항미사일 '토마호크' 도입 美에 타진    266      기사
16  17                   이제 와 "올해 안에 갚겠다"‥김진태 "미안하게 됐다"    262  동영상 뉴스
17  18                [단독] 국정원 박지원 고발장 보니‥"퇴직자가 회의 참석"?    261  동영상 뉴스
18  19             "시진핑 푸틴 모르는 핵 있다"‥트럼프 천기누설에 김정은도 긴장?    235  동영상 뉴스
19  20       [제보는 MBC] 11개월 아기 머리 치고 흔들고‥검증 없는 '육아 도우미'    216  동영상 뉴스

In [ ]:
# 2.구분별 조회 수를 내림차순으로 정렬하기

   순위                                         제목    조회수  구분
0   1  윤 대통령, 푸틴 경고에 "우크라에 살상무기 공급 없었다‥우리 주권 문제"  12214  기사
1   2           내일 서울 도심서 대규모 집회‥경찰 "대중교통 이용 당부"  10049  기사
2   3     국민의힘, '윤 대통령-한동훈 심야 술자리 의혹' 김의겸 징계안 제출   9510  기사